body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background :#ffffff;
}

h1 {
    font-size: 2.875rem; 
    color:#717171;
}

h1 span {
    color: #499a18;
}

h2 {
    font-family: 'Inika', serif; 
    font-size: 2.5rem; 
    font-weight: 400; 
    color: #499a18;
}

.btn {
    display: flex;
    width: 158px;
    height: 44px;
    font-size: 1.25rem;
    font-family: 'Inika', serif;
    justify-content: center;
    align-items: center;
    border: 2px solid #e06733;
    border-radius: 10px;
    background: transparent;
    color: #e06733;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.primary-btn {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.contact-btn {
    font-weight: 700;
}

.btn:hover {
    background: #e06733;
    color: #ffffff;
}

.container {
    width: 1320px; 
    margin-left: auto; 
    margin-right:auto;
}

.primary-font {
    font-family: 'Inter', sans-serif;
}

.secondary-font {
    font-family: 'Inika', serif;
}

header {
    height: 134px; 
    display: flex; 
    align-items: center; 
    background: #edf2ec;
}

.navbar {
    display: flex;
}

.navbar-brand {
    font-family: 'Inika', serif; 
    text-decoration: none; 
    color: #000000;
}

.navbar-toggler {
    display: none;
}

.navbar-collapse {
    flex-grow: 2;
    display: flex; 
    justify-content: flex-end;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    display: flex;
}

.navbar-nav li + li {
    margin-left: 2.875rem;
}

.navbar-link {
    text-decoration: none;
    color: #010201;
    transition: all 0.15s ease-in;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-nav li:first-of-type .navbar-link  {
    color: #e06733;
}

/* Welcome */
#welcome {
   
    height: 530px;
    background: #edf2ec;
}

#welcome .container {
    display: flex;
    padding-top: 3.75rem;
    justify-content: flex-start;
    align-items: flex-start;
}

#welcome .content {
    order: 2;
    width: 42%;
    margin-left: 8%;
    padding-top: 2.25rem;
}

#welcome .content h1 {
    margin: 0 0 3rem 0;
    padding: 0;
}

#welcome .content p {
    font-size: 1.25rem;
    color: #636060;
}

#welcome .leafs {
    display: flex;
    order: 1;
    width: 50%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
}

#welcome .content .primary-btn {
    margin: 3rem 0 0 0;
}

#service {
    background: #edf2ec;
}

.product-grid {
    display: flex; 
    flex-wrap: wrap;
}

#about h2 span {
    color: #e06733;
}

/* Prices */
#prices {
    height: 560px;
}

#prices .content {
    display: flex;
}

#prices .content-left {
    width: 50%;
}

#prices .content-right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-end;
}

#prices h2 {
    width: 100%;
    font-family: 'Inter', sans-serif; 
    font-weight: 700; 
    color:#000000;
}

#prices h2 span {
    color: #499a18;
}

#prices .content-right h2 {
    text-align: right;
}

/* Contacts */
#contacts {
    height: 550px;
    
    background: #edf2ec;
}

#contacts .content {
    padding: 3.75rem 0 0 0;
}

#contacts h2 {
    text-align: center;
    font-weight: 700;
}

/* Footer */
footer a {
    text-decoration: none;
    color: #000000;
    transition: all 0.15s ease-in;
}

footer a:hover {
    text-decoration: underline;
}

footer .container {
    display: flex;
}

footer .copyright {
    min-width: 290px;
    height: 130px;
    display: flex; 
    align-items: center;
}

footer .school {
    height: 130px;
    flex-grow: 4; 
    display: flex; 
    justify-content: center; 
    text-align: center; 
    align-items: center;
}

footer .social {
    display: flex; 
    min-width: 290px;
    height: 130px;
    margin: 0;
    padding: 0;
    justify-content: flex-end; 
    align-items: center;
    list-style-type: none;
}

footer .social li + li {
    margin-left: 1.25rem;
}